@charset "UTF-8";

/*
Paletas de cores
verder #49a09d
lilais #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
     background-color: #5f2c82;
     height: 100vh;
     width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);

    transition: width 0.5s, heigth 0.5s;
    transition-timing-function: ease;
}
#login > #imagens{
    display: block;
   background: #5f2c82 url(../imagens/pexels-v-marin-701396667-32022768.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center ;
   height: 200px;
}
#login > #formulario{
    display: block;
    padding: 10px;
}
#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario > p{
   font-size: 0.8em;
}
form > .campo{
   background-color: #5f2c82;
   display: block;
   width: 100%;
   height: 40px;
   border-radius: 5px;
   margin: 5px 0px;
}
.campo > label{
    display: none;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 36px;
    background-color: #49a09dbb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #244948;
    font-size: 1.2em;
    transition: 0.5s;
}

form > .botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    background-color: #91f6f3;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #153c3b;
}
form > .botao:hover{
    background-color: #aee4e3;
}
.botao > i{
    font-size: 0.3em;
}